@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
  .tap-highlight-transparent {
    -webkit-tap-highlight-color: transparent;
  }

  .smooth-edges {
    -webkit-backface-visibility: hidden;
    backface-visibility:hidden;
  }
  .font-signika {
    font-family: 'Signika', sans-serif;
  }
  .font-nothing-you-could-do {
    font-family: 'Nothing You Could Do', sans-serif;
  }
  
}


  .animate-wave {
    animation-name: wave;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
    transform-origin: 70% 70%;
    display: inline-block;
  }
  
  @keyframes wave {
    0% { transform: rotate(0deg); }
    10% { transform: rotate(14deg); }
    20% { transform: rotate(-8deg); }
    30% { transform: rotate(14deg); }
    40% { transform: rotate(-4deg); }
    50% { transform: rotate(10deg); }
    60% { transform: rotate(0deg); }
    100% { transform: rotate(0deg); }
  }
  

  #ulMenu li:hover span {
    background-color: red; 
}

.card {
  animation: slideIn 1s forwards;
  opacity: 0;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translateY(50px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* the delay for each card */
.card:nth-child(1) {
  animation-delay: 0.2s;
}

.card:nth-child(2) {
  animation-delay: 0.4s;
}

.card:nth-child(3) {
  animation-delay: 0.8s;
}

.card:nth-child(4) {
  animation-delay: 1.2s;
}
.card:nth-child(5) {
  animation-delay: 1.6s;
}
.card:nth-child(6) {
  animation-delay: 2.0s;
}



  

@keyframes slideFromLeftToRight {
  0% { left: -50%;
  opacity:0.2 } 
  70% { left: 70%;
  opacity:.5 } 
  100% { left: 50%; } 
}

@keyframes slideFromBottomToTop {
  0% { bottom: 0%; } 
  100% { bottom: 30%; } 
}
.animate-slide-from-bottom-to-top {
  animation-name: slideFromBottomToTop;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}
.bg-image {
  background-image: url('../images/thoubgaza.jpeg');
  background-size: cover;
  background-position: center;
  z-index: -1;
  animation: slideFromLeftToRight 5s ease-in-out forwards; 
}




.book {
  position: relative;
  border-radius: 10px;
  width: 420px;
  height: 500px;
  background-color: whitesmoke;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
}

.cover {
  top: 0;
  position: absolute;
  background-color: lightgray;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.book:hover .cover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-80deg);
  -ms-transform: rotatey(-80deg);
  transform: rotatey(-80deg);
}




